  <footer class="page-footer black mt-auto">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ghost</h5>
          <p class="grey-text text-lighten-4">PoC(Proof of Concept) Extended BlockChain Network Application for Decentralization </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Reference</h5>
          <ul>
            <li><a class="white-text" href="#!">Xamarin</a></li>
            <li><a class="white-text" href="#!">Bitcoin</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contect</h5>
          <ul>
            <li><a class="white-text" href="#!">ghost.chat.net@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        </div>
    </div>
</footer>