// Color Variables
$primary-color: #003f8c;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Open Sans", sans-serif, serif;
$icon-font: 'themify';